.item{
    border: 1px solid gray;
    padding: 16px;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px silver;

    display: flex;
    flex-direction: column;

}

.line1{
    width: 100%;
    margin-bottom: 8px;
}

.line1 span{
    font-size: 1.5rem;
    font-weight: 600;
}

.line1 span:nth-child(1){
    margin-right: 2rem;
}

.line1 span:nth-child(2){
    color: cadetblue;
}

.line2{
    margin-top: 8px;
    color: brown;
}

.item:hover{
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

